.auth-page {
  .auth-left-wrapper {
    width: 100%;
    height: 100%;
    //background-image: url(https://via.placeholder.com/219x452);
    background-image: url('../../images/logo_receta.png');
    //background-image: url('../../images/logo-pp-color.png');
    background-size: cover;
  }
}