/* You can add global styles to this file, and also import other style files */


.error-radio{
    width: 100%;
                  margin-top: 0.25rem;
                  font-size: 80%;
                  color: #dc3545;
}


@media print {
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */
  
    app-base {
      display: block;
    }
  
    app-main-page {
      display: none;
    }
  }